# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data files (optional)
# Uncomment if you do not want to track raw datasets
# data/
